In [1]:
import pandas as pd

In [3]:
import yfinance as yf
yf.download("AAPL", period="5d")

/tmp/ipykernel_33907/1283347705.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  yf.download("AAPL", period="5d")
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2026-01-12  260.250000  261.299988  256.799988  259.160004  45263800
2026-01-13  261.049988  261.809998  258.390015  258.720001  45730800
2026-01-14  259.959991  261.820007  256.709991  259.489990  40019400
2026-01-15  258.209991  261.040009  257.049988  260.649994  39388600
2026-01-16  255.529999  258.899994  254.929993  257.899994  72018600

In [ ]:
yf.Ticker